
* { margin: 0; padding: 0; text-decoration: none; list-style: none; box-sizing: border-box; }
#wrap { width: 100%; margin: 0 auto; }

.line {
    background-color: #fff; padding: 0; margin: 80px;
    border: 0; height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));
}

.nav { 
    width: 100%; height: 30px;
    display: flex; align-items: center; justify-content: space-between;
    padding: 0 100px ;
}
.nav ul { display: flex; grid-column-gap: 10px; }
.nav ul li { font-size: 13px; }

.title { 
    width: 100%; height: 100px;
    display: flex; align-items: center; justify-content: center;
}
.title .name {
    z-index: 1; font-size: 100px; padding-top: 100px;
}

.main { 
    width: 100%; height: 650px;
    background-image: url(../imgs/main.jfif); opacity: 0.7;
    background-repeat: no-repeat; background-position: center; background-size: cover;
}

.intro { 
    width: 100%; height: 700px;
    display: flex; align-items: center; justify-content: space-between;
    padding: 0 100px;
}
.intro img {
    width: 500px; height: 350px;
}